@import '../../../assets/css/global.scss';
@import './var.scss';
@import './mixins.scss';

#qiankunlayout {
  display: flex;
  flex-direction: row;
  background-color: var(--qkl-bg-color);

  /* 默认 theme */
  .qiankunlayout-menu {
    @include layout-menu;
  }

  #qiankunlayout-left {
    flex: 0 0 var(--qkl-left-side-bar-width);
    background-color: var(--qkl-menu-bg-color);
    z-index: 10;

    .qiankunlayout-left-sider {
      display: flex;
      flex-direction: column;
      width: var(--qkl-left-side-bar-width);

      .qiankunlayout-left-logo {
        width: 100%;
        height: var(--qkl-header-height);
        line-height: var(--qkl-header-height);
        text-align: center;
        vertical-align: middle;
        .logo-url {
          display: inline-block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .logo-title {
            display: inline-block;
            margin: 0;
            font-size: 1rem;
            font-family: Roboto, sans-serif;
            color: var(--qkl-menu-highlight-color);
          }
        }
        img {
          vertical-align: middle;
        }
      }

      .qiankunlayout-left-menu {
        flex: 1;
      }
    }

    &.fiexd {
      .qiankunlayout-left-sider {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        .qiankunlayout-left-menu {
          overflow: hidden auto;
        }
      }
    }

    &.narrow {
      flex: 0 0 var(--qkl-menu-collapsed-width);
      .qiankunlayout-left-sider {
        width: var(--qkl-menu-collapsed-width);
      }
    }

    @include scrollbar;
  }

  #qiankunlayout-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 0;
    flex: auto;
    min-height: 100vh;
    background-color: var(--qkl-main-bg-color);

    #qiankunlayout-right-top {
      width: 100%;
      height: calc(var(--qkl-header-height) + var(--qkl-header-tab-nav-height));
      border-bottom: solid 0.0625rem rgba(0, 21, 41, 0.01);
      .qiankunlayout-right-top-header {
        display: block;
        height: calc(
          var(--qkl-header-height) + var(--qkl-header-tab-nav-height)
        );
        box-shadow: 0 0.0625rem 0.25rem rgba(0, 21, 41, 0.08);
        background-color: var(--qkl-main-bg-color);
        z-index: 2;

        .qiankunlayout-right-top-top {
          display: flex;
          width: 100%;
          height: var(--qkl-header-height);
          line-height: var(--qkl-header-height);
          background-color: var(--qkl-bg-color);
          color: var(--qkl-color);

          .qiankunlayout-flexible {
            width: var(--qkl-header-height);
            height: var(--qkl-header-height);
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: --qkl-submenu-bg-color;
              color: --qkl-menu-higlight-bg-color;
            }
          }

          .qiankunlayout-top-menu {
            height: var(--qkl-header-height);
            line-height: var(--qkl-header-height);
            flex: 1;
            overflow: hidden;
            overflow-x: auto;
            .breadcrumb {
              line-height: var(--qkl-header-height);
            }
          }

          .qiankunlayout-top-menu-right {
            width: 12.5rem;

            .qiankunlayout-top-message {
              display: inline;
              color: var(--qkl-color);
              .qiankunlayout-top-message-badge {
                margin-left: -0.3125rem;
                margin-top: -1.25rem;
                ::v-deep(.el-badge__content) {
                  border: 0;
                }
              }
            }

            .qiankunlayout-top-usermenu {
              padding-left: 0.625rem;
              color: var(--qkl-color);
              line-height: var(--qkl-header-height);
            }

            .qiankunlayout-top-selectlang {
              padding-left: 0.9375rem;
              line-height: var(--qkl-header-height);
              .dropDown {
                i,
                .svg-icon {
                  font-size: 1rem;
                  color: var(--qkl-color);
                }
              }
            }

            .qiankunlayout-top-settings {
              margin-left: 0.9375rem;
              cursor: pointer;
            }
          }

          @include scrollbar;

          &.menu {
            background-color: var(--qkl-menu-bg-color);
            color: var(--qkl-menu-color);

            .qiankunlayout-right-top-logo {
              padding: 0 1.25rem;
              height: var(--qkl-header-height);
              vertical-align: middle;
              .logo-url {
                display: inline-block;
                overflow: hidden;
                .logo-title {
                  display: inline-block;
                  margin: 0;
                  padding-left: 0.625rem;
                  font-size: 0.875rem;
                  font-family: Roboto, sans-serif;
                  font-weight: 400;
                  color: var(--qkl-menu-highlight-color);
                }
              }
              img {
                vertical-align: middle;
              }
            }

            .qiankunlayout-top-menu-right {
              .qiankunlayout-top-message,
              .qiankunlayout-top-usermenu {
                color: var(--qkl-menu-color);
              }
              .qiankunlayout-top-selectlang {
                .dropDown {
                  i,
                  .svg-icon {
                    color: var(--qkl-menu-color);
                  }
                }
              }
            }
          }
        }

        .qiankunlayout-top-tab-nav {
          height: calc(var(--qkl-header-tab-nav-height) - 0.25rem);
          padding-top: 0.25rem;
          /* background-color: #f0f0f0; */
          box-shadow: 0 -0.0625rem 0.25rem rgba(0, 21, 41, 0.08);
          display: flex;
          align-items: center;
          .left,
          .right,
          .down {
            width: calc(var(--qkl-header-tab-nav-height) - 0.625rem);
            height: calc(var(--qkl-header-tab-nav-height) - 0.5rem);
            line-height: calc(var(--qkl-header-tab-nav-height) - 0.5rem);
            /*  background-color: #FFFFFF; */
            text-align: center;
            font-size: 0.75rem;
            cursor: pointer;
            .icon-box {
              display: block;
              width: calc(var(--qkl-header-tab-nav-height) - 0.625rem);
              height: calc(var(--qkl-header-tab-nav-height) - 0.5rem);
              line-height: calc(var(--qkl-header-tab-nav-height) - 0.5rem);
            }
            .icon {
              color: rgba(0, 0, 0, 0.45);
            }
            &:hover {
              .icon {
                color: rgba(0, 0, 0, 0.75);
              }
            }
          }
          .down {
            padding-right: 0.625rem;
            line-height: normal;
          }
          .middle {
            flex: 1;
            overflow: hidden;
            .tab {
              position: relative;
              float: left;
              list-style: none;
              overflow: visible;
              white-space: nowrap;
              transition: transform 0.5s ease-in-out;
              .item {
                height: calc(var(--qkl-header-tab-nav-height) - 0.375rem);
                line-height: calc(var(--qkl-header-tab-nav-height) - 0.375rem);
                background: #fafafa;
                box-sizing: border-box;
                white-space: nowrap;
                display: inline-block;
                padding: 0 0.625rem;
                border-radius: 0.25rem 0.25rem 0 0;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                cursor: pointer;
                font-size: 0.875rem;
                color: rgba(0, 0, 0, 0.65);
                border: 0.0625rem solid var(--qkl-main-bg-color);
                & + .item {
                  margin-left: 0.1875rem;
                }
                &:hover {
                  color: var(--el-color-primary);
                }
                .icon {
                  font-size: 0.625rem;
                  margin: 0 0 0.125rem 0.3125rem;
                  color: rgba(0, 0, 0, 0.45);
                  &:hover {
                    color: rgba(0, 0, 0, 0.75);
                  }
                }
                .icon-pre {
                  display: none;
                  font-size: 0.75rem;
                  margin: 0 0.3125rem 0 0;
                  color: rgba(var(--el-color-primary), 0.75);
                  &:hover {
                    color: rgba(var(--el-color-primary), 1);
                  }
                }
              }
              .active {
                color: var(--el-color-primary);
                background: #ffffff;
                border-color: #ffffff;
                .icon-pre {
                  display: inline-block;
                }
              }
            }
          }
        }
      }

      &.fiexd {
        .qiankunlayout-right-top-header {
          position: fixed;
          left: var(--qkl-left-side-bar-width);
          top: 0;
          right: 0;
        }
        &.narrow {
          .qiankunlayout-right-top-header {
            left: var(--qkl-menu-collapsed-width);
          }
        }
      }

      &.navModeHorizontal {
        &.narrow .qiankunlayout-right-top-header,
        .qiankunlayout-right-top-header {
          left: 0;
        }
      }

      &.tabNavEnable {
        height: var(--qkl-header-height);
        .qiankunlayout-right-top-header {
          height: var(--qkl-header-height);
        }
      }
    }

    #qiankunlayout-right-main {
      position: relative;
      flex: 1;
      height: 0;

      .qiankunlayout-main-conent {
        margin: 1.5rem;
        position: relative;
      }

      .qiankunlayout-main-conent-loading {
        position: absolute;
        padding-top: 6.25rem;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }
      .qiankunlayout-main-conent-none {
        display: none;
      }
      .qiankunlayout-main-conent-screen {
        height: calc(100% - 2rem);
        & > div:first-child {
          height: 100%;
          #app {
            height: 100%;
          }
        }
      }
    }
  }

  /* 白色 theme */
  &.light {
    @include light-menu;

    #qiankunlayout-left {
      @include scrollbar-light;
    }
  }
}
