@import './variables.scss';
@import './mixin.scss';

.mt-6 {
  margin-top: 0.375rem;
}
.mt-16 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mt-24 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 0.5rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.color-huge {
  color: var(--theme-color-huge);
}
.color-medium {
  color: var(--theme-color-medium);
}
.color-percentage {
  color: rgba(var(--theme-color-huge), 0.1);
}
.hide {
  display: none;
}
.full {
  width: 100%;
}
.split {
  margin-top: 1rem;
}

@keyframes chat-input-focus-with-function {
  0% {
    box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.6);
  }
}

@keyframes bounce {
  0%,
  100% {
    opacity: 0.1;
    transform: scale(1.2, 1.2);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }
}

:global(.anime) {
  animation: bounce 1s infinite;
}

.normal-data {
  &h1 {
    font-family: 'PingFang SC';
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
  }

  &-item {
    display: flex;
    margin-top: 1rem;
    margin-right: 0.625rem;
    height: 3.75rem;
    border-radius: 0.25rem;
    align-items: center;

    ::v-deep(.svg-icon) {
      margin-left: 1rem;
      width: 1rem;
      height: 1rem;
    }
    a {
      color: var(--theme-color-text);
    }
    a:hover {
      color: var(--theme-color-text);
    }

    &:hover {
      background: var(--theme-bg-colorSpan);
      .normal-data-item-operation {
        display: flex;
        gap: 1rem;
        margin-right: 1rem;
        align-items: center;
      }
    }

    &-title {
      padding: 1rem;
      width: 90%;
      font-family: 'PingFang SC';
      font-size: 0.875rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-operation {
      display: none;
    }

    &-add {
      display: flex;
      margin-left: 0.425rem;
      width: 100%;
      align-items: center;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.25rem;

  .left-chat {
    width: 19.125rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: #fff;

    .qa {
      .qa-header {
        margin: 1rem 1rem 1rem 1rem;
        display: flex;
        font-family: 'PingFang SC';
        height: 2.5rem;
        align-items: center;

        &-title {
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.5rem;
          min-width: 5rem;
        }

        &-input {
          margin-left: 1rem;
          border-radius: 1.5rem;
          background: var(--theme-bg-colorSpan);
        }
      }
    }

    .qa-main {
      font-family: 'PingFang SC';
      font-style: normal;

      &-create-button {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        border-radius: 8px;
      }
      &-create {
        margin: 0 1rem;
      }

      @include scrollbar;

      .qa-main-list {
        padding: 1rem 0 1rem 1rem;
      }
    }
  }

  .main-chat-preview {
  }

  .main-chat {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;

    &-preview {
      margin-right: 0.625rem;
      display: flex;
      flex: 1;
      border-radius: 1.5rem;
      background-color: #fff;
    }

    &-content {
      margin: 1rem;
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: hidden;
      max-width: var(--right-main-width);

      .main-chat-nodata {
        display: flex;
        margin-top: 3.375rem;

        &-left {
          display: flex;
          margin-right: 0.75rem;
        }

        &-right {
          display: flex;
          flex-flow: column;
          height: fit-content;
          border-radius: 0 1rem 1rem 1rem;
          background: var(--theme-bg-colorSpan);
          padding: 1rem;
        }

        &-title {
          color: var(--theme-color-text);
          font-family: 'PingFang SC';
          font-size: 1.625rem;
          font-weight: 600;
          line-height: 1.5rem;
          min-width: 5rem;
        }

        &-detail {
          margin-top: 1rem;
          color: var(--theme-color-detail);
          font-family: 'PingFang SC';
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &-hint {
          margin-top: 1.75rem;
        }
      }

      .main-chat-grow {
        flex-grow: 1;
      }

      .main-chat-message {
        color: #4e5969;
        font-family: 'PingFang SC';
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &-loading {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        @include scrollbar;
      }

      .main-chat-footer {
        flex-shrink: 0;
        font-family: 'PingFang SC';
        font-size: 0.875rem;
        font-style: normal;
        line-height: normal;
        height: fit-content;

        &-op {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        &-opWeb {
          margin-left: 0.5rem;
          color: #4e5969;
          font-family: 'PingFang SC';
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
          display: flex;
          align-items: center;
          ::v-deep(.el-switch) {
            width: 2rem;
            height: 1rem;
            margin-left: 0.5rem;
          }
        }

        &-input {
          margin-top: 0.625rem;
          display: flex;
          box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.1);
          border-radius: 0.5rem;
          border: 0.0625rem solid var(--input-footer-border-blur);
          height: auto;
          padding: 10px 0;

          .main-chat-footer-promptwh {
            width: 2rem;
            height: 2rem;
          }

          .main-chat-footer-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.375rem;
          }

          :not(.el-textarea):focus-within {
            animation: chat-input-focus-with-function 0.15s ease-out forwards;
          }
        }
      }
    }
  }
}
